# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# Env files (ignore ALL)
.env
.env.*
# …but allow examples/templates
!.env.example
!.env.*.example
!.env.template
!.env.*.template

# TypeScript
*.tsbuildinfo
**/*.tsbuildinfo
vite.config.d.ts
*.d.ts
!src/**/*.d.ts

# Common local files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?